.gradle/
**/.gradle/
.idea/
**/.idea/
.kotlin/
**/.kotlin/
.tmp/
**/local.properties
**/google-services.json
**/build/
**/release/
**/gemma_model/
*.iml
captures/
.externalNativeBuild/
.cxx/
mobile/android/gemma_model/src/main/assets/models/*.litertlm
mobile/android/app/src/main/assets/models/*.bin
mobile/android/app/src/main/assets/models/*.litertlm
mobile/android/app/src/main/assets/models/diarization/*.onnx
mobile/android/app/src/main/jniLibs/**/*.so
